<!DOCTYPE html>
<html>
<head>
	<title>Password Generator</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background: #007bff;background: linear-gradient(to right, #0062E6, #33AEFF);">

<div class="container mt-5">

	<div class="container px-3 py-5 text-center" style="background: white;width:40%; height: 400px;box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);border-radius: 1rem">

		<h5 style="margin-bottom: 2rem;font-weight: 300;font-size: 1.5rem;">Random Generated Password</h5>
			<center>
			<div class="card bg-light mb-3" style="max-width: 18rem;">
			  <div class="card-header">You password is :</div>
			  <div class="card-body">
			    <h5 class="card-title">{{ password }}</h5>
			  </div>
			</div>
			</center>
		<a href="{% url 'home' %}" class="btn btn-primary mt-5" style="color: #fff;background-color: #0069d9;border-color: #0062cc;">Return to home page</a>
	</div>
</div>

</body>
</html>


